{% extends "_base.html" %}

<html>
<head>
    <title>
        {% block title %}List of not confirmed artists{% endblock title %}
    </title>
</head>

<body>
    {% block content %}
        <div class='container'>
            <div>
                <p>Dear admin go to artist page by clicking on it:</p>
            </div>
            <ul>
                {% for artist in not_confirmed_artists %}
                    <li>
                        <p><a href="{% url "user_update" artist.pk %}?next={{ request.path }}">{{artist}}</a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock content %}
</body>
</html>