{% extends "_base.html" %}

<html>
<head>
    <title>
        {% block title %}{{article.activity_title}}{% endblock title %}
    </title>
</head>

<body>
    {% block content %}
        <div class='container'>
            <h2>{{activity.activity_title}}</h2>
            <div>
                    <p>{{article.value}}</p></br>
                    <p>{{article.start_time}}</p></br>
                    <p>{{article.end_time}}</p></br>
                    <p>{{article.status}}</p></br>
                    <p>{{article.desc}}</p></br>
            </div>
            <a href="{{request.META.HTTP_REFERER}}" class='btn btn-success'>Go back</a>
        </div>
    {% endblock content %}
</body>
</html>