{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class='container'>
        <ul>
            {% if user.is_authenticated%}
                {% if  user.is_artist and user.confirm_user %}
                    Hi dear artist {{ user.email }}!
                    <li><a href="{% url 'activity_create' %}">Create activity</a></li>
                    <li><a href="{% url 'activity_list' %}">List of approved activities</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% elif user.is_artist and not user.confirm_user%}
                    You are not confirmed by admin yet.
                    <p><a href="{% url 'account_logout' %}">Logout</a></p>
                {% elif not user.is_artist and user.confirm_user %}
                    Hi dear admin {{ user.email }}!
                    <li><a href="{% url 'register_confirmation' %}">Confirmation of artist registration</a></li>
                    <li><a href="{% url 'activity_list_not_approved' %}">Approve artists activities</a></li>
                    <li><a href="{% url 'activity_create_by_admin' %}">Create activity for artist</a></li>
                    <li><a href="{% url 'activity_list_all' %}">All activities</a></li>
                    <p><a href="{% url 'account_logout' %}">Logout</a></p>
                {% endif %}
            {% else %}
                <p>You are not loged in</p>
                <a href="{% url 'account_login' %}">Log In</a></br>
                <a href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
        </ul>
    </div>
{% endblock content %}